/* @import "src/app/scss/variables"; */

.book-card {
  height: 390px;
  width: 275px;
  flex-grow: 1;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

  .hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  .title {
      font-size: 17px;
   font-weight: bold;
    text-align: center;
  }

  .book-img {
    box-shadow: book-box-shadow;
  }

  button {
    margin: 0.5rem 9.3rem;
    padding: 7px 14px;
    font-size: 14px;
  
  }

    .hover {
      background-color: lightslategray;
      color: white;
      border: 1px solid white;
      box-shadow: none;
    }



